@{
    //ViewBag.PageTitle = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--add more css here-->
@section cssmore{
    <link href="~/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/backend.css" rel="stylesheet" type="text/css" />
    @RenderSection("cssmore2", required: false)
}

<!--user status will be display here-->
<div id="be-userstatus" class="roundborder">
    @Html.Action("CurrentUser", "Account")
</div>
<!--leftpart menu-->
<div id="leftpart">
    <div class="partmenu">
        <h3 class="titlebar">基本信息</h3>
        <ul>
            <li><a href="#">公司简介</a></li>
            <li><a href="#">公司管理</a></li>
            <li><a href="#">公司发展</a></li>
            <li><a href="#">荣誉资质</a></li>
        </ul>
    </div>
    <div class="partmenu">
        <h3 class="titlebar">其他信息</h3>
        <ul>
            <li><a href="#">公告编辑</a></li>
            <li><a href="#">联系方式</a></li>
            <li><a href="#">招聘信息</a></li>
        </ul>
    </div>
    <div class="partmenu">
        <h3 class="titlebar">产品信息</h3>
        <ul>
            <li><a href="#">产品种类</a></li>
            <li><a href="#">产品编辑</a></li>
            <li><a href="#">技术服务</a></li>
            <li><a href="#">公司简介</a></li>
        </ul>
    </div>
    <div class="partmenu">
        <h3 class="titlebar">其他管理</h3>
        <ul>
            <li><a href="#">在线留言</a></li>
        </ul>
    </div>
    <div class="partmenu">
        <h3 class="titlebar">退出登录</h3>
        <ul>
            <li><a href="~/Account/LogOut">确认退出</a></li>
        </ul>
    </div>

</div>


<!--right part content-->
<div id="rightpart">
    <h2 id="rightpartheader" class="titlebar">@ViewBag.PageTitle</h2>
    <div id="rightpartcontent" class="rectborder">
        @RenderSection("rightpart")
    </div>
</div>

<!--scripts down here-->
@section scripts{
    @RenderSection("scripts2", required: false)
}
