<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="xs.zhou" />
    <!--designed by xs.zhou-->
    <!--email:newlifecou@outlook.com-->
    <!--2014-11-25-->
    <title>@ViewBag.PageTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--load more css here-->
    @RenderSection("cssmore", required: false)
</head>
<body>
    <!--header-->
    <div id="header">
        <div class="wraper">
            <img id="logo" src="~/Images/logo.gif" alt="CDISCS" />
            <ul id="mainnav">
                <li><a href="~/Home/Index">首页</a></li>
                <li><a href="~/Home/About/1">关于我们</a></li>
                <li><a href="#">产品中心</a></li>
                <li><a href="#">技术服务</a></li>
                <li><a href="#">联系方式</a></li>
            </ul>
        </div>
    </div>
    <!--main-->
    <div id="main">
        <div class="wraper mainbody">
            <!--slide-->
            @RenderSection("slide", required: false)

            <!--mainbody-->
            @RenderBody()
        </div>
    </div>
    <!--footer-->
    <div id="footer">
        <div id="footerlink">
            <div class="wraper">
                <ul>
                    <li><a href="~/Home/Index">首页</a></li>
                    <li><a href="~/Home/About/1">关于我们</a></li>
                    <li><a href="#">产品中心</a></li>
                    <li><a href="#">技术服务</a></li>
                    <li><a href="#">联系方式</a></li>
                </ul>
                <p>
                    友情链接:
                    @Html.DropDownList("FriendLinkList")
                    <input type="button" value="Go" />
                </p>
            </div>
        </div>
        <div class="wraper" id="footerbottom">
            <ul>
                @Html.Action("GetContact", "Home")
                <li>版权所有&copy; 2014  成都成航安全系统有限责任公司</li>
            </ul>
            <div class="bcode">
                <p>手机扫描二维码添加联系方式</p>
                <img src="~/Images/BCode.jpg" alt="bcode" />
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <!--own script-->
    <!--something wrong with it, check it later-->
    @*<script src="~/Scripts/js/layout.js"></script>*@
</body>
</html>
