@model IEnumerable<MvcCDISCS.Models.service>

@{
    ViewBag.PageTitle = "Index";
    Layout = "~/Views/Shared/_BackEndContent.cshtml";
}

@section rightpart{
    <p>@Html.ActionLink("新增", "Create",null, new { @class = "btnadd" }) </p>
    <table class="edit-table">
        <tr class="thead">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "editdelete" }) 
                    @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { @class = "editdelete" })
                </td>
            </tr>
        }
    </table>
}

