@model MvcCDISCS.Models.basicinfo

<ul>
    <li>
        @Html.DisplayFor(o => o.CompanyName)
    </li>
    <li>
        @Html.DisplayNameFor(o => o.Contact):
        @Html.DisplayFor(o => o.Contact)
    </li>
    <li>
        @Html.DisplayNameFor(o => o.Phone):
        @Html.DisplayFor(o => o.Phone)
    </li>
    <li>
        @Html.DisplayNameFor(o => o.Fax):
        @Html.DisplayFor(o => o.Fax)
    </li>
    <li>
        @Html.DisplayNameFor(o => o.Email):
        @Html.DisplayFor(o => o.Email)
    </li>
    <li>
        @Html.DisplayNameFor(o => o.PostCode):
        @Html.DisplayFor(o => o.PostCode)
    </li>
    <li>
        @Html.DisplayNameFor(o => o.Address):
        @Html.DisplayFor(o => o.Address)
    </li>
    @if ((string)(ViewBag.Show) == "yes")
    {
        <li>版权所有&copy; 2014 @Html.DisplayFor(o => o.CompanyName)</li>
    }
</ul>
