@using PagedList.Mvc
@model PagedList.IPagedList<MvcCDISCS.Models.product>

@{
    ViewBag.PageTitle = "Index";
    Layout = "~/Views/Shared/_BackEndContent.cshtml";
}
@section cssmore2{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}
@section rightpart{
<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btnadd" })
</p>
<table class="edit-table">
    <tr class="thead">
        <th>
            @Html.DisplayNameFor(model => Model.First().ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.First().PublishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  Model.First().ReadCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.First().Category.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "editdelete" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "editdelete" })
            </td>
        </tr>
    }

</table>
    @Html.PagedListPager(Model,page=>Url.Action("Index",new {page}))
}

