@model IEnumerable<MvcCDISCS.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackEndContent.cshtml";
}

@section rightpart{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="edit-table">
    <tr class="thead">
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>

}

