@model MvcCDISCS.Models.career

@{
    ViewBag.PageTitle = "Delete";
    Layout = "~/Views/Shared/_BackEndContent.cshtml";
}

@section rightpart{
    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>career</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.CreateTime)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreateTime)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.ExpirationTime)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ExpirationTime)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="删除" class="btnsave" /> 
            @Html.ActionLink("返回列表", "Index")
        </p>
    }

}
