@model MvcCDISCS.Models.career

@{
    ViewBag.PageTitle = "Edit";
    Layout = "~/Views/Shared/_BackEndContent.cshtml";
}

@section rightpart{
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>career</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateTime)
            @Html.ValidationMessageFor(model => model.CreateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpirationTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpirationTime)
            @Html.ValidationMessageFor(model => model.ExpirationTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content)
            <script>
                var ue = UE.getEditor('Content');
            </script>
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Memo)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo)
            @Html.ValidationMessageFor(model => model.Memo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsShow)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsShow)
            @Html.ValidationMessageFor(model => model.IsShow)
        </div>

        <p>
            <input type="submit" value="Save" class="btnsave" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

}

