@model MvcCDISCS.Models.feedback
@{
    ViewBag.PageTitle = "Feedback";
    Layout = "~/Views/Shared/_FrontEndContent.cshtml";
}
@section cssmore2{
    <link href="~/Content/form.css" rel="stylesheet" />
}

@section leftpart{
    <div class="partmenu">
        <h3 class="titlebar">联系我们</h3>
        <ul>
            <li><a href="~/Home/Contact">联系方式</a></li>
        </ul>
    </div>
}

@section rightpart{
    <div id="feedbacktip" class="helptip roundborder">
       <p class="light"> 请在下面的留言表中填写您的需求，我们会尽快给您回复，谢谢。</p>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            <table>
                <tr><td>@Html.DisplayNameFor(o => Model.Title)</td><td>@Html.EditorFor(o => Model.Title)@Html.ValidationMessageFor(o => Model.Title)</td></tr>
                <tr><td>@Html.DisplayNameFor(o => Model.CustomerName) </td><td>@Html.EditorFor(o => Model.CustomerName)@Html.ValidationMessageFor(o => Model.CustomerName)</td></tr>
                <tr><td>@Html.DisplayNameFor(o => Model.Email) </td><td>@Html.EditorFor(o => Model.Email)@Html.ValidationMessageFor(o => Model.Email)</td></tr>
                <tr><td>@Html.DisplayNameFor(o => Model.Phone)</td><td>@Html.EditorFor(o => Model.Phone)@Html.ValidationMessageFor(o => Model.Phone)</td></tr>
                <tr><td>@Html.DisplayNameFor(o => Model.Content) </td><td>@Html.TextAreaFor(o => Model.Content) @Html.ValidationMessageFor(o => Model.Content)</td></tr>
            </table>
            <input type="submit" value="提交" id="btnSubmit" />
        }

    </div>
}

@section scripts2{
    @Scripts.Render("~/bundles/jqueryval")
}