@model MvcCDISCS.Models.HomeIndex
@{
    ViewBag.PageTitle = Model.PageTitle + "-网站";
}
@section cssmore{
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
}
@section scripts{
    <script src="~/Scripts/js/home.js"></script>
    <script src="~/Scripts/js/slide.js"></script>
}
<!--slide-->
@section slide{
    <div id="slide">
        <ul class="slidephoto">
            @foreach (var item in Model.Slides)
            {
                <li>
                    <img src="~/Images/slide/@(item.SlidePhoto).jpg" alt="@item.SlidePhoto" />
                    <p>@item.Memo</p>
                </li>
            }
        </ul>
        <ul class="slideindicator">
            @foreach (var item in Model.Slides)
            {
                <li></li>
            }
        </ul>
    </div>
}
<!--notice-->
<div id="notice">
    <p class="noticeleft">
        公告：
    </p>
    <div class="noticecontent">
        <ul>
            @foreach (var item in Model.Notices)
            {
                <li>@Html.Raw(item.NoticeContent)</li>
            }
        </ul>
    </div>
</div>
<!--category and about area-->
<div id="middlearea">
    <div id="leftarea">
        <h3 class="titlebar">产品类型<span><a href="~/Home/ProductCategory/2">更多</a></span></h3>
        <ul class="categorylist">
            @foreach (var item in Model.ProductCategories)
            {
                <li class="rectborder">
                    <img src="~/Images/category/@(item.Photo).jpg" alt="@item.CategoryName" />
                    <div>
                        <h5>@item.CategoryName<span><a href="~/Home/ProductCategory/@item.CategoryId">More</a></span> </h5>
                        <p>
                            <!--substring 70-->
                            @item.Memo.Substring(0, 70);
                        </p>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div id="rightarea">
        <h3 class="titlebar">公司简介<span><a href="~/Home/About/1">更多</a></span></h3>
        <div id="about" class="rectborder htmlcontent">
            @Html.Raw(Model.Introduction)
        </div>
    </div>
</div>
<!--考虑不要这一块了，主页太长了，这部分内容也和产品分类重复了-->
@*<div id="bottomarea">
        <h3 class="titlebar">产品展示<span><a href="~/Home/ProductCategory/2">更多</a></span></h3>
        <div id="productslide" class="roundborder">
            <img id="leftarrow" class="arrow" src="~/Images/left-arrow.png" alt="left-arrow" />
            <ul>
                <li>
                    <a href="#">
                        <img src="~/Images/productphoto.jpg" alt="product" />
                        <p>某某型号的波纹管</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Images/productphoto.jpg" alt="product" />
                        <p>某某型号的波纹管</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Images/productphoto.jpg" alt="product" />
                        <p>某某型号的波纹管</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Images/productphoto.jpg" alt="product" />
                        <p>某某型号的波纹管</p>
                    </a>
                </li>
            </ul>
            <img id="rightarrow" class="arrow" src="~/Images/right-arrow.png" alt="right-arrow" />
        </div>
    </div>*@
