@model MvcCDISCS.Models.productcategory
@{
    ViewBag.PageTitle = "ProductCategory";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section leftpart{
    <div class="partmenu">
        <h3>产品类别</h3>
        <ul>
            @Html.Action("GetProductCategoryMenu", "PV")
        </ul>
    </div>
}
@section rightpart{
    <h2>@Model.CategoryName</h2>
    <img src="~/Images/@(Model.Photo).jpg" alt="@Model.CategoryName" id="titleimg" />
    <div class="productlist">
        <!--display the products under the category list-->
        @if (Model.Products.Count > 0)
        {
            foreach (var item in Model.Products)
            {
                <div class="plist">
                    <a href="#">
                        <img src="~/Images/slide/@(item.Photo).jpg" alt="@item.Photo" />
                        <p>@item.ProductName</p>
                    </a>
                </div>
            }
        }
        else
        {
            <div>抱歉，该分类下暂时没有添加产品，请等待</div>
        }
    </div>
}
