@model MvcCDISCS.Models.productcategory

@{
    ViewBag.PageTitle = "Edit";
    Layout = "~/Views/Shared/_BackEndContent.cshtml";
}
@section rightpart{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>productcategory</legend>

            @Html.HiddenFor(model => model.CategoryId)

            <div class="editor-label">
                @Html.LabelFor(model => model.CategoryName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CategoryName)
                @Html.ValidationMessageFor(model => model.CategoryName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Photo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Photo)
                @Html.ValidationMessageFor(model => model.Photo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Memo)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Memo)
                <script>
                    var ue = UE.getEditor('Memo')
                </script>
                @Html.ValidationMessageFor(model => model.Memo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Priority)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Priority)
                @Html.ValidationMessageFor(model => model.Priority)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

}
