@model IEnumerable<MvcCDISCS.Models.productcategory>

@{
    ViewBag.PageTitle = "Index";
    Layout = "~/Views/Shared/_BackEndContent.cshtml";
}

@section rightpart{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="edit-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId })
                    <!--隐藏掉删除功能，防止犯错-->
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })*@
                </td>
            </tr>
        }

    </table>
}

